@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.box-layout {
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.box-layout:disabled {
  background-color: rgba(26, 26, 26, 0.16);
}
button.box-layout:hover {
  border-color: #646cff;
}
button.box-layout:focus,
button.box-layout:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.new-room-btn {
  border-color: #646cff;
  background-color: #646cff;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

button.new-room-btn:hover {
  background-color: #1a1a1a;
}

.copied-btn-theme {
  border-color: #26da40;
  background-color: #26da40;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

.ready-btn-theme {
  border-color: #efca34;
  background-color: #efca34;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

.error-btn-theme {
  border-color: #ff0000;
  background-color: #ff0000;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button.box-layout {
    background-color: #f9f9f9;
  }
}
